@import "../css/variaveis";

body {
  font-family: $font-Nunito;
  .container {
    max-width: 617px;
    margin: 0 auto;
    padding: 0 10%;
  }
  .titulo-principal {
    font-family: $font-Inter;
    font-weight: 600;
    font-size: 1.12rem;
  }
  .header {
    padding: 10% 10% 0 10%;
  }

  .form-social {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
  }

  .form-basic {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
  }

  .form-certificates {
    display: flex;
    height: 500px;
    flex-direction: column;
  }
}
