.botoes-nav {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.4rem;
  text-align: center;
  border-bottom: 1px solid $color-cinza-borda;
  .botao__nav {
    font-weight: 400;
    background-color: transparent;
    border: none;
  }

  .botao-hability {
    color: $color-azul-principal;
  }

  // .botao__social {
  //   pointer-events: none;
  // }

  #botaoMore {
    pointer-events: visible;
  }

  // .botao__certificates {
  //   pointer-events: none; 
  // }
}

.button__position {
  display: flex;
  justify-content: flex-end;
  .button {
    text-align: start;
    width: 70px;
    border: 2px solid $color-azul-principal;
    border-radius: 4px;
    background-color: #ffffff;
    color: $color-azul-principal;
    font-weight: 400;
    padding: 11px;
  }
  .button__next {
    background-image: url(/img/Trailing\ Icon.svg);
    background-repeat: no-repeat;
    background-position: 45px center;
  }

  .button__next-ability {
    border: none;
    background-color: $color-azul-principal;
    color: #ffffff;
    background-image: url(/img/Trailing\ Icon\ -\ Copia.svg);
    background-repeat: no-repeat;
    background-position: 45px center;
  }

  .button__certificates {
    padding-right: 10px;
    width: 85px;
    text-align: end;
    pointer-events: none;
  }

  .button__finish {
    background-image: url(/img/Leading\ Icon.svg);
    background-repeat: no-repeat;
    background-position: 12px center;
  }

  .button__more {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
  }
}
