.button__favorito{
  display: flex;
  margin-top: 5px;
  .input-favorito{
    padding: 10px;
    width: 92%;
    border: 2px solid $color-cinza-borda;
    border-right: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .button-favorito{
    background: transparent;
    border: 2px solid #aaaaaa;
    border-radius: 0 4px 4px 0px;
    border-left: none;
    width: 40px;
    background-image: url(/img/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .button-favorito-selected{
    background: transparent;
    border: 2px solid #aaaaaa;
    border-radius: 0 4px 4px 0px;
    border-left: none;
    width: 40px;
    background-image: url(/img/VectorBlue.svg);
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(13px);
  }
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
