@import "../css/variaveis";

.form-control {
  margin-top: 1.19rem;
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    font-weight: 400;
    font-size: 0.8rem;
    color: $color-cinza-text;
    display: inline-block;
  }

  input {
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    display: block;
    max-width: 100%;
    padding: 0.6rem;
  }

  i {
    position: absolute;
    top: 30px;
    right: 10px;
    visibility: hidden;
  }

  small {
    position: absolute;
    bottom: -17px;
    left: 0;
    visibility: hidden;
  }

  .form-position__email {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .email {
      display: flex;
      flex-grow: 2;
    }
  }
}

// Estilização do aniversário

.birthday {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  .birthday__group {
    flex-grow: 2;
    height: 60px;
    display: flex;
    flex-direction: column;
    .data-birthday {
      // width: 7.18rem;
      margin-right: 0.5rem;
      height: 40px;
      text-align: start;
      border-radius: 4px;
      border: 2px solid #aaaaaa;
    }
    input{
      max-width: 7.18rem;
    }
  }
}

h3 {
  font-weight: 400;
  font-size: 1.12rem;
  color: $color-cinza-text;
  display: inline-block;
}

.check {
  margin-top: 1.5rem;
}

.form-control.sucess input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}
