$font-Inter: 'Inter', sans-serif;
$font-Nunito: 'Nunito', sans-serif;

$color-fundo: #eceef2;
$color-azul-principal: #074ee8;
$color-cinza-borda: #aaaaaa;
$color-cinza-text: #5b5b5b;
$color-cinza-titulo: #444546;
$color-preto-sign: #111111;
