body {
  font-family: "Nunito", sans-serif;
}
body .container {
  max-width: 617px;
  margin: 0 auto;
  padding: 0 10%;
}
body .titulo-principal {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.12rem;
}
body .header {
  padding: 10% 10% 0 10%;
}
body .form-social {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: space-between;
}
body .form-basic {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: space-between;
}
body .form-certificates {
  display: flex;
  height: 500px;
  flex-direction: column;
}

.botoes-nav {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.4rem;
  text-align: center;
  border-bottom: 1px solid #aaaaaa;
}
.botoes-nav .botao__nav {
  font-weight: 400;
  background-color: transparent;
  border: none;
}

.button__position {
  display: flex;
  justify-content: flex-end;
}
.button__position .button {
  text-align: start;
  width: 70px;
  border: 2px solid #074ee8;
  border-radius: 4px;
  background-color: #ffffff;
  color: #074ee8;
  font-weight: 400;
  padding: 11px;
}
.button__position .button__next {
  background-image: url(/img/Trailing\ Icon.svg);
  background-repeat: no-repeat;
  background-position: 45px center;
}
.button__position .button__certificates {
  padding-right: 10px;
  width: 85px;
  text-align: end;
}
.button__position .button__finish {
  background-image: url(/img/Leading\ Icon.svg);
  background-repeat: no-repeat;
  background-position: 12px center;
}
.button__position .button__more {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
}

.form-control {
  margin-top: 1.19rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.form-control label {
  font-weight: 400;
  font-size: 0.8rem;
  color: #5b5b5b;
  display: inline-block;
}
.form-control input {
  border: 2px solid #aaaaaa;
  border-radius: 4px;
  display: block;
  max-width: 100%;
  padding: 0.6rem;
}
.form-control i {
  position: absolute;
  top: 30px;
  right: 10px;
  visibility: hidden;
}
.form-control small {
  position: absolute;
  bottom: -17px;
  left: 0;
  visibility: hidden;
}
.form-control .form-position__email {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.form-control .form-position__email .email {
  display: flex;
  flex-grow: 2;
}

.birthday {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.birthday .birthday__group {
  flex-grow: 2;
  height: 60px;
  display: flex;
  flex-direction: column;
}
.birthday .birthday__group .data-birthday {
  margin-right: 0.5rem;
  height: 40px;
  text-align: start;
  border-radius: 4px;
  border: 2px solid #aaaaaa;
}
.birthday .birthday__group input {
  max-width: 7.18rem;
}

h3 {
  font-weight: 400;
  font-size: 1.12rem;
  color: #5b5b5b;
  display: inline-block;
}

.check {
  margin-top: 1.5rem;
}

.form-control.sucess input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

.forms__slide {
  max-height: 515px;
  width: 100%;
  overflow-x: hidden;
  height: 900px;
  margin: 0 auto;
}
.forms__slide .slides {
  display: flex;
  width: 300%;
}
.forms__slide .slides .slider {
  width: 33.33%;
}/*# sourceMappingURL=main.css.map */